$primary-color: #f6725d;
$font-color: #263238;

html {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

select,
textarea,
input, 
button {
    font-family: 'Poppins', sans-serif;
    outline: none;
    resize: none;
}

a {
    text-decoration: none;
}

.login {
    width: 95%;
    margin: 2rem auto;
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;

    &__left,
    &__right {
        width: calc(50% - 2rem);
    }

    &__right {
        display: flex;
        align-items: center;
        padding-right: 1rem;
    }
    &__image {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    &__left {
        padding: 3rem 3.5rem;
    }

    &__title {
        font-size: 4rem;
        font-weight: 700;
        color: $font-color;
        margin-bottom: 2rem;
    }

    &__desc {
        font-size: 1rem;
        font-weight: 600;
        position: relative;
        padding-left: 8rem;
        color: $primary-color;
        margin-bottom: 3rem;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 7rem;
            height: 2px;
            border-radius: 3px;
            background-color: $primary-color;
        }
    }

    &__information {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__email,
    &__password {
        width: 100%;
    }

    &__input {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
        font-size: 1rem;
        border: 2px solid #eee;
        border-radius: 1rem;
        background-color: #f5f5f5;
        transition: all 0.2s linear;
        &:focus {
            border-color: $primary-color;
        }
        &--name {
            margin-bottom: 0;
            &:focus + .login-name__icon {
                background-color: $primary-color;
                color: white;
            }
        }
    }

    &__label {
        display: block;
        font-size: 1rem;
        color: $font-color;
        cursor: pointer;
        &--input {
            margin-bottom: 0.8rem;
        }
    }

    &__button {
        padding: 1rem 3rem;
        font-size: 2rem;
        margin: 0.5rem auto 1rem;
        display: block;
        background-color: $primary-color;
        color: white;
        border: 0;
        border-radius: 10rem;
        box-shadow: 0 5px 5px 0px rgb(246 114 93 / 60%);
        cursor: pointer;
        position: relative;
    }

    &__redirect {
        font-size: 1rem;
        line-height: 1.7;
        a {
            color: $primary-color;
        }
    }
}




