$primary-color: #EF7D6D;
$secondary-color: #CA41FC;

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px -10px;
    border-radius: 5px;
    background-color: #fff;
    transform: scale(1);
    transition: all linear 0.2s;
    cursor: pointer;
    &-add {
        display: block;
        height: 3rem;
        margin: 1rem auto 0;
        padding: 1rem 2rem;
        border-radius: 50rem;
        font-size: 1rem;
        color: white;
        background: rgb(239,125,109);
        background: linear-gradient(90deg, rgba(239,125,109,1) 0%, rgba(202,65,252,1) 100%);
        box-shadow: 0px 2px 0px 1px #d9defb;
        transform: translateY(-1px);
        transition: all linear 0.15s;
        &:active {
            box-shadow: 0px 0px 0px 0px #d9defb;
            transform: translateY(1px);
        }
    }
    &:hover {
        box-shadow: 0px 0px 20px -5px;
        transform: scale(1.01);
    }
    
    &-image {
        height: 15rem;
        overflow: hidden;
        img {
            display: block;
            margin: 0 auto;
            height: 100%;
            object-fit: cover;
        }
    }

    &-category,
    &-price {
        margin: 0.5rem
    }

    &-title {
        margin: 1rem 1rem 1.5rem 1rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
    }

    &-category {
        font-size: 0.9rem;
    }

    &-price {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .rating-star {
        padding: 0;
        margin: 0.5rem;
    }

}

.pagination {
    button:disabled {
        color: #d9defb;
    }
}