$primary-color: #CA41FC;
$font-color: #263238;

html {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

select,
textarea,
input, 
button {
    font-family: 'Poppins', sans-serif;
    outline: none;
    resize: none;
}

a {
    text-decoration: none;
}

.signup {
    width: 95%;
    margin: 2rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;

    &__left,
    &__right {
        width: calc(50% - 1rem);
    }

    &__right {
        display: flex;
        align-items: center;
    }
    &__image {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    &__left {
        padding: 3rem 3.5rem;
    }

    &__title {
        font-size: 3.4rem;
        font-weight: 700;
        color: $font-color;
        margin-bottom: 3rem;
    }

    &__desc {
        font-size: 1rem;
        font-weight: 600;
        position: relative;
        padding-left: 8rem;
        color: $primary-color;
        margin-bottom: 3.6rem;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 7rem;
            height: 2px;
            border-radius: 3px;
            background-color: $primary-color;
        }
    }

    &__information {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__username,
    &__fullname {
        width: calc(50% - 1rem);
    }

    &__email,
    &__password,
    &__phone,
    &__address {
        width: 100%;
    }

    &__input {
        width: 100%;
        margin-bottom: 1.4rem;
        padding: 1rem;
        font-size: 1rem;
        border: 2px solid #eee;
        border-radius: 1rem;
        background-color: #f5f5f5;
        transition: all 0.2s linear;
        &:focus {
            border-color: $primary-color;
        }
    }

    &__label {
        display: block;
        font-size: 1rem;
        color: $font-color;
        cursor: pointer;
        &--input {
            margin-bottom: 0.8rem;
        }
        &--checkbox {
            position: relative;
            padding-left: 6rem;
            line-height: 1.7;
                &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 2.5rem;
                height: 2.5rem;
                border: 2px solid #eee;
                border-radius: 1rem;
                transition: all 0.2s linear;
            }
        }
    }

    &__checkbox {
        display: none;
        &:checked + .signup__label--checkbox:before {
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
    
    &__button {
        padding: 1rem 3rem;
        font-size: 2.1rem;
        margin: 1rem auto 2rem;
        display: block;
        background: rgb(239,125,109);
        background: linear-gradient(90deg, rgba(202,65,252,1) 0%, rgba(239,125,109,1) 100%);
        color: white;
        border: 0;
        border-radius: 10rem;
        box-shadow: 0 5px 5px 0px rgb(246 114 93 / 60%);
        cursor: pointer;
    }
    &__redirect {
        font-size: 1rem;
        line-height: 1.7;
        a {
            color: $primary-color;
        }
    }
}




